{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {# Titre de la page #}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Accueil</h1>
        </div>
    </div>

    <br/><br/>

    <div class="container-fluid">
        <p>
            Bienvenue sur la page d'accueil. Vous pouvez consulter les livres et les auteurs à partir du menu ci-dessus.
        </p>
    </div>

{% endblock %}
