nav{
    margin-bottom: 5vh;
}

#data-search{
     border-radius: 25%;
     border-color: 1px solid #413C49;
}

.help-block{
     color: lightgray;
}

.container-body{
     width: 100%;
     border: 1px solid #ddd;
     padding: 13px 13px 13px 13px;
     border-radius: 10px;
     background-color: #F9F9FA;
     color: #413C49;
     margin-top: 20px;
}

.container-form{
     margin-top: 20px;
}

.error{
     color: red;
     font-weight: 600;
}

.has-error ul{
     color: red;
     list-style-type: none;
     padding-left: 0;
     padding-top: 5px;
     font-style: italic;
}

.btn-lg{
     color: #fff;
     margin: auto;
     margin-top: 30px;
}

.margin-top-20{
     margin-top: 20px;
}
